</br>
ここからはusers/index.html.erbの内容</br>
<div style="background:#f9f9f9; ">
★マイページ★</br>
１. <%= link_to "freetime登録", :controller => "freetimes", :action => "new" %>  ⇦自分のfreetime登録</br>
２. <%= link_to "freetime検索", :controller => "freetimes", :action => "search" %> ⇦他ユーザーが登録したfreetime検索</br>
３. <%= link_to "freetime一覧・編集", :controller => "freetimes", :action => "show" %> ⇦自分で登録したfreetime一覧</br>
４.booking一覧、編集</br>
５.<%= link_to "退会", :controller => "users", :action => "destroy" %> ⇦ユーザー登録の解除 ルーティングとコントローラ未作成！！！！
</br></div>