</br>freetimes/index.html.erbの内容</br>
 <div class="catch_copy">
  <div class="text-center">
  <h1>Journey with local friends</h1>
  <p>This is the top page</p>
  <p>トップにローカルフレンドの検索画面を付けたいけど方法がわからん</p>
  <p>現状は上部メニューでログイン→マイページからしか検索できない</p>
  </br>
  </div>
  <div class="container-fluid">
  <h4 style="background:#f9f9f9; ">
  更新状況</br>
  １：ユーザー登録　　　　　　最低限実装</br>
  ２：フリータイム登録　　　　最低限実装</br>
  ３：フリータイム検索　　　　最低限実装。期限切れなどの除外をどうすればいいか？</br>
  ４：フリータイム編集　　　　最低限実装</br>
  ５：フリータイムオファー　　まだ</br>
  ６：オファー編集　　　　　　まだ</br>
  ７：ユーザー評価　　　　　　まだ</br>
  ８：コメント　　　　　　　　まだ</br>
</br>
 </h4>

