</br>freetimes/new.html.erb ここからfreetime登録画面

<div class="contents row">

<%= form_for(@freetime) do |f| %>
  <label class="control-label" >集合場所</label>
  <%= f.text_field :place, class: 'form-control' %></br>


  <label class="control-label" for="">日時</label>
  <%= f.datetime_select :time, class: 'form-control' %></br>

  <%= f.submit 'freetimeを登録', class: 'btn btn-primary' %>
<% end %>


</div>